@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
  margin: 0;
  background-image: url('./img/bgKitchen.jpg');
  background-size: contain;
}

.game-container {
  position: relative;
  text-align: center;
  /* background-image: url('https://hips.hearstapps.com/edc.h-cdn.co/assets/16/39/djds.jpg'); */
  /* background-size: 100%; */
  /* background-size: cover; */
  /* background: linear-gradient(60deg, rgb(136, 9, 136) 0%, rgb(255, 0, 0) 500%); */
  color: white;
}
 
.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 50%;
  height: 50vh;
  transition: 1s;
  /* border: 5px red solid; */
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
.colorTest {
  background: linear-gradient(60deg, rgb(112, 0, 0) 0%);
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
}

